h3, h2 {
  color: white;
  font-family: "Dela Gothic One", Impact, cursive;
  font-size: 1em;
  letter-spacing: 2px; }

h2 {
  font-size: 1.2em; }

h5 {
  color: #039dff; }

h4 {
  color: white;
  letter-spacing: 2px; }

label {
  font-family: "Roboto", Arial, cursive;
  color: #039dff;
  font-size: 1em; }

p {
  font-family: "Roboto", Arial, cursive;
  color: #039dff;
  font-size: 1em;
  letter-spacing: 1px; }

.textoDestacado {
  font-weight: bold;
  font-size: .9em;
  margin-bottom: .1em;
  margin-left: 1.1em; }

.ultimasNoticias {
  grid-area: 1 / 1 / 5 / 3; }

.ultimaEntrevista {
  grid-area: 1 / 3 / 5 / 5; }

.recomendado {
  grid-area: 1 / 5 / 5 / 8; }

.noticias {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 0em; }

.container {
  grid-area: 2 / 1 / 6 / 7; }

@media only screen and (min-width: 768px) {
  body header .navegador .navegador__item--md {
    font-size: .9em; }
  body main .index__titulo--md {
    font-size: 1.2em;
    text-align: center;
    margin: 0.3em 0 0.6em 0; }
  body main .ultimaNoticia__texto--md {
    margin: 0.3em 0 0.6em 0;
    font-size: 1.2em; }
  body main .ultimaEntrevista__video--md {
    height: 25em;
    width: 35em; }
  body main .recomendado__texto--md {
    margin: 0.3em 0 0.6em 0;
    font-size: .9em; }
  body main .entrevista .container--md {
    width: 70%;
    margin-bottom: .5em;
    margin: 0 auto; }
    body main .entrevista .container--md .d-block {
      height: 20em; }
  body main .evento .eventos--md {
    margin-left: 1.5em; }
  body main .noticia__uno--md {
    direction: rtl; }
  body main .noticia__tres--md {
    direction: rtl; }
  body main .contacto--md .row .contacto__formulario--md,
  body main .contacto--md .row .contacto__textoDestacado {
    margin-left: 1em; }
  body main .error--md {
    border: solid 1px red;
    height: 13em; } }

@media only screen and (min-width: 992px) {
  body header .navegador .navegador__item--l {
    font-size: 1.2em; }
  body header .navegador li :hover {
    text-shadow: 4px 3px 0 #039dff; }
  body main .index {
    display: flex;
    flex-flow: row; }
  body main .error--l {
    border: solid 1px red;
    height: 15em; }
  body main .entrevista .container--l {
    width: 60%;
    margin-bottom: .5em;
    margin: 0 auto; }
    body main .entrevista .container--l .d-block {
      height: 20em; } }

@media only screen and (min-width: 1200px) {
  body header .navegador .navegador__item--xl {
    font-size: 1.5em; }
  body header .navegador li :hover {
    text-shadow: 4px 3px 0 #039dff; }
  body header .navegador .container-fluid .logo__item {
    height: 5.5em; }
  body main .noticia {
    text-align: center;
    margin-bottom: 1em; }
    body main .noticia__uno--xl {
      direction: rtl; }
      body main .noticia__uno--xl .noticia__uno__item__texto--xl {
        font-size: 1.5em; }
    body main .noticia__dos--xl {
      direction: ltr; }
      body main .noticia__dos--xl .noticia__dos__item__texto--xl {
        font-size: 1.5em; }
    body main .noticia__tres--xl {
      direction: rtl; }
      body main .noticia__tres--xl .noticia__tres__item__texto--xl {
        font-size: 1.5em; }
    body main .noticia__cuatro--xl {
      direction: ltr; }
      body main .noticia__cuatro--xl .noticia__cuatro__item__texto--xl {
        font-size: 1.5em; }
  body main .ultimaNoticia__imagen--xl {
    height: 90%;
    width: 90%; }
  body main .recomendado__texto--xl {
    font-size: 1em; }
  body main .ultimaNoticia--xl,
  body main .recomendado--xl,
  body main .ultimaEntrevista--xl {
    height: 33%;
    width: 33%; }
  body main .recomendado__imagen--xl {
    height: 60%;
    width: 60%; }
  body main .container .row {
    margin-left: 5em; }
    body main .container .row .contacto__formulario1--xl {
      margin-left: auto;
      width: 100%; }
    body main .container .row .contacto__formulario2--xl {
      margin-right: auto;
      width: 100%; }
  body main .evento .eventos--xl {
    margin-left: 5em; }
  body main .entrevista .container--xl {
    width: 40%;
    margin-bottom: .5em;
    margin: 0 auto; }
  body main .error--xl {
    border: solid 1px red;
    height: 20em; } }

body {
  width: 100%;
  background: #121212; }
  body a:active, body a:link, body a:visited {
    text-decoration: none;
    color: inherit;
    list-style-type: none; }
  body header .navegador {
    padding: .3em;
    background: linear-gradient(to bottom, rgba(97, 97, 97, 0), #121212), url(../imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover; }
    body header .navegador .container-fluid .navbar-toggler {
      margin-left: 5em; }
    body header .navegador__lista {
      margin-bottom: 10em; }
    body header .navegador__item {
      padding: 1em;
      color: white;
      font-size: .5em;
      font-family: "Dela Gothic One", Impact, cursive; }
    body header .navegador__link--activo {
      font-weight: bold; }
  body main .content {
    flex: 1; }
  body main .ultimaNoticia {
    text-align: center; }
    body main .ultimaNoticia .ultimaNoticia__imagen {
      text-align: center;
      justify-content: center; }
      body main .ultimaNoticia .ultimaNoticia__imagen img {
        max-height: 11em; }
    body main .ultimaNoticia .ultimaNoticia__texto, body main .ultimaNoticia .recomendado .recomendado__texto, body main .recomendado .ultimaNoticia .recomendado__texto {
      padding: .5em;
      font-size: .9em;
      text-align: center; }
  body main .ultimaEntrevista {
    text-align: center;
    justify-content: center; }
    body main .ultimaEntrevista .ultimaEntrevista__video {
      max-height: 15em;
      max-width: 20em; }
    body main .ultimaEntrevista .ultimaEntrevista__texto {
      margin-bottom: .2em;
      font-size: .9em;
      margin-top: .2em;
      text-align: center; }
  body main .recomendado {
    justify-content: center;
    text-align: center; }
    body main .recomendado .recomendado__imagen {
      max-height: 11em; }
    body main .recomendado .recomendado__texto .click {
      font-weight: bold; }
  body main .noticia {
    text-align: center; }
    body main .noticia__uno__item__texto {
      font-size: 1em; }
    body main .noticia__uno__item__imagen, body main .noticia__dos__item__imagen, body main .noticia__tres__item__imagen, body main .noticia__cuatro__item__imagen {
      border-radius: 5px;
      max-width: 90%; }
    body main .noticia__dos__item__texto {
      font-size: 1em; }
    body main .noticia__tres__item__texto {
      font-size: 1em; }
    body main .noticia__cuatro__item__texto {
      font-size: 1em; }
  body main .eventos {
    color: white;
    border: solid 5px blueviolet;
    border-radius: .5em;
    margin: 1em 0 0 0; }
    body main .eventos .link:hover {
      font-weight: bold;
      color: #039dff; }
    body main .eventos th {
      text-transform: uppercase;
      text-align: center;
      color: white; }
    body main .eventos td {
      text-align: center;
      color: white; }
  body main .entrevista__texto {
    text-align: center;
    margin: .5em; }
  body main .entrevista .container {
    max-width: 90%;
    margin-bottom: .5em;
    margin: 0 auto; }
    body main .entrevista .container .d-block {
      height: 20em; }
  body main .contacto {
    display: flex;
    flex-flow: column nowrap;
    padding: .3em;
    margin: 0 .8em 1em 0; }
    body main .contacto .contacto__formulario {
      text-align: center;
      border: solid blueviolet;
      border-radius: .5em; }
      body main .contacto .contacto__formulario .contacto__nombre {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        margin: 1em 0 1em 0; }
      body main .contacto .contacto__formulario .contacto__cuadro {
        text-align: center;
        justify-content: center;
        resize: none;
        border: none;
        margin: .1em; }
      body main .contacto .contacto__formulario .contacto__check {
        font-size: .9em;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: .3em; }
      body main .contacto .contacto__formulario .contacto__select {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: .3em 0 .3em 0; }
      body main .contacto .contacto__formulario .contacto__boton {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        text-align: center;
        padding: .3em;
        border-radius: .1em;
        border: none;
        outline: none; }
        body main .contacto .contacto__formulario .contacto__boton .contacto__boton__uno {
          padding: .5em; }
  body main #contacto__texto {
    text-align: center; }
  body main .error {
    margin-left: 20%; }
  body footer .pie {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #121212, rgba(170, 170, 170, 0.2));
    padding: .7em; }
    body footer .pie .pie__item {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-items: flex-start; }
      body footer .pie .pie__item .pie__texto {
        display: flex;
        flex-flow: row nowrap;
        font-size: 1em; }
    body footer .pie .pie__item__dos {
      display: flex;
      flex-flow: row nowrap;
      column-gap: 1em; }
      body footer .pie .pie__item__dos img {
        height: 2em; }
    body footer .pie .pie__lista {
      display: flex;
      justify-items: flex-end;
      gap: 1em;
      color: white;
      font-size: 0.8em;
      font-family: 'Dela Gothic One', cursive;
      padding: 2em; }
