* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: inherit
}

body {
    background: #121212;
}



/*----------------------------TEXTO---------------------------*/
h3 {
    font-family: 'Dela Gothic One', cursive;
    color: white;
    font-size: 1em;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Dela Gothic One', cursive;
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
}

h5 {
    color: #039dff;
}

label {
    font-family: 'Roboto', cursive;
    color: #039dff;
    font-size: 1em;
}

h4 {
    color: white;
    letter-spacing: 2px;
}

p {
    font-family: 'Roboto', cursive;
    color: #039dff;
    font-size: 1em;
    letter-spacing: 1px;
}

.textoDestacado {
    font-weight: bold;
    font-size: .9em;
    margin-bottom: .1em;
    margin-left: 1.1em;
}

/*------------------------------------------------------------*/


/*-----------------------------HEADER-----------------------*/
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: linear-gradient(to bottom, rgba(97, 97, 97, 0), #121212), url(/imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header .menuActive {
    color: white;
}

.index,
.noticias,
.eventos,
.entrevistas,
.contacto {
    display: flex;
    flex-flow: column;
}

.div1 .epLogo {
    height: 8em;
}

.div2 li:hover {
    text-shadow: 4px 3px 0 #039dff;
}

.div2 {
    margin-top: 1em;
    flex-flow: column;
}

.div2 nav .menu {
    display: flex;
    gap: 1em;
    color: white;
    font-size: 0.6em;
    margin: 0 1em 1em 0;
    font-family: 'Dela Gothic One', cursive;
}

/*-----------------------------------------------------------*/

/*--------------------------MAIN-----------------------------*/

.content {
    flex: 1;
}

/*------------------------------------------------------------*/

/*--------------------------MAIN INDEX------------------------*/
.ultNewsDiv .ultNews {
    justify-items: center;
    text-align: center;
    margin: .8em;
}

.ultNewsDiv .ultNews .imgNews {
    max-height: 11em;
}

.ultEnDiv .ultEn {
    text-align: center;
    justify-content: center;
}

.ultEnDiv .videoEn {
    max-height: 15em;
    max-width: 20em;
}

.txtIn {
    margin-bottom: .2em;
    font-size: .9em;
    margin-top: .2em;
}

.recoDiv {
    justify-content: center;
    text-align: center;
}

.recoDiv .click {
    font-weight: bold;
}

.reco .imgReco {
    height: 13em;
}

/*-----------------------------------------------------------*/

/*----------------------------NOTICIAS-----------------------*/
.titleNews {
    font-size: 1em;
    text-align: center;
}

.noticias .newsOne {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0.1em 0 1.3em 0;
}

.txtUno {
    text-align: center;
    font-size: .8em;
}

.imgNewsOne {
    max-width: 25%;
}

.noticias .newsDos {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.3em 0 1.3em 0;
}

.txthos {
    text-align: center;
    font-size: .8em;
}

.imgNewsDos {
    max-width: 25%;
}

.noticias .newsTres {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.3em 0 1.3em 0;
}

.txtTres {
    text-align: center;
    font-size: .8em;
}

.imgNewsTres {
    max-width: 25%;
}

.noticias .newsCuatro {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.3em 0 1.3em 0;
}

.txtCuatro {
    text-align: center;
    font-size: .8em;
}

.imgNewsCuatro {
    max-height: 10em;
}

/*-----------------------------------------------------------*/


/*------------------------------EVENTOS----------------------*/
.eventosUno{
    color: white;
    border: solid 5px blueviolet;
    border-radius: .5em;
}

th{
    text-transform: uppercase;
    text-align: center;
    color: white;
}

td{
    text-align: center;
    color: white;
}

.eventosUno .link:hover {
    font-weight: bold;
    color: #039dff;
}
/*-------------------------------------------------------------*/

/*---------------------- ENTREVISTAS-------------------------*/
.entrevistaUno .txtVideo {
    margin: 1em 0 .3em 0;
    text-align: center;
}

.container {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
}

.d-block {
    height: 33em;
}

/* ----------------------------------------------------------*/

/*-------------------------FORMS-----------------------------*/

input:focus {
    padding: 2px;
}

.forms {
    display: flex;
    flex-flow: column nowrap;
    border: solid blueviolet;
    border-radius: .5em;
    padding: .3em;
    margin: 0 .8em 1em .8em;

}

#txtForm {
    text-align: center;
}

.nombre {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1em 0 1em 0;
}

.check {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: .5em;
}

textarea {
    border: none;
    resize: none;
}

.cuadro {
    text-align: center;
    margin: .1em;
}

.select {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-items: center;
    margin: .3em 0 .3em 0;
}

.selectUno {
    max-width: 350px;
}

.btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    padding: .3em;
    border-radius: .1em;
    border: none;
    outline: none;
}

.btnUno {
    padding: .5em;
}

/*-------------------------------------------------------------*/


/*-------------------------FOOTER----------------------------*/
footer .div6 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
    background: linear-gradient(to bottom, #121212, rgba(170, 170, 170, 0.2));
}

.info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: flex-start;
    margin: 2em;
}

.ep {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1em;
}

#txtFooter {
    color: white;
}

.logos {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1em;
}

.logos img {
    height: 2em;
}

.map {
    display: flex;
    justify-items: flex-end;
    gap: 1em;
    color: white;
    font-size: 0.8em;
    font-family: 'Dela Gothic One', cursive;
    margin: 2em;
}

/*---------------------------------------------------------------*/

/*-------------------------RESPONSIVE----------------------------*/

@media only screen and (min-width: 768px) {

    .menuMd {
        font-size: 2.3em;
    }

    .titleNewsMd {
        font-size: 1.5em;
        text-align: center;
        margin: 0.3em 0 0.6em 0;
    }

    .noticias .newsOneMd {
        margin: 0.3em 0 0.6em 0;
        font-size: 1.2em;
    }

    .noticias .newsDosMd {
        margin: 0.3em 0 0.6em 0;
        font-size: 1.2em;
    }

    .noticias .newsTresMd {
        margin: 0.3em 0 0.6em 0;
        font-size: 1.2em;
    }

    .noticias .newsCuatroMd {
        margin: 0.3em 0 0.6em 0;
        font-size: 1.2em;
    }

    .ultEnDiv .videoEnMd {
        max-height: 25em;
        max-width: 35em;
    }

    .title {
        font-size: 2.3em;
    }

    .contactoMd {
        margin: 0 .5em 0 .5em;
    }

    .container-md {
        width: 75%;
    }
}

@media only screen and (min-width: 992px) {

    .indexL,
    .noticiasL,
    .eventosL,
    .entrevistasL,
    .contactoL {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    .txtInL {
        font-size: 2em;
    }

    .ultNewsDiv .ultNews .imgNewsL {
        max-height: 20em;
    }

    .imgRecoL {
        height: 15em;
        width: 60%;
    }

    .titleNewsL {
        font-size: 2em;
        text-align: center;
        margin: 0.1em 0 0.3em 0;
    }

    .noticias .newsOneL {
        margin: 0.1em 0 0.1em 0;
        font-size: 1.5em;
    }

    .noticias .newsDosL {
        margin: 0.1em 0 0.1em 0;
        font-size: 1.5em;
    }

    .noticias .newsTresL {
        margin: 0.1em 0 0.1em 0;
        font-size: 1.5em;
    }

    .noticias .newsCuatroL {
        margin: 0.1em 0 0.1em 0;
        font-size: 1.5em;
    }

    #txtForm {
        text-align: center;
        margin: 1em;
    }

    .container-lg {
        width: 75%;
    }

}

@media only screen and (min-width: 1200px) {

    .indexXl {
        display: flex;
        flex-flow: row;
    }

    .txtInXl {
        font-size: 1em;
    }

    .ultNewsDivXl,
    .recoDivXl,
    .ultEnDivXl {
        height: 33%;
        width: 33%;
    }

    .imgNewsXl {
        height: 90%;
        width: 90%;
    }

    .imgRecoXl {
        height: 60%;
        width: 60%;
    }

    .videoEnXl {
        width: 100%;
        height: 20em;
    }

    .contactoXl {
        display: flex;
        flex-flow: row nowrap;
    }

    .notiXl {
        margin: 0 .7em .5em .7em;
    }

    .txtUnoXl,
    .txthosXl,
    .txtTresXl,
    .txtCuatroXl {
        font-size: 1em;
    }

    .imgNewsCuatroXl {
        max-height: 35em;
    }

    .container-xl {
        width: 75%;
    }

}

/*---------------------------------------------------------------*/