$titulo-color: white;
$titulo-fuente: 'Dela Gothic One', Impact ,cursive; 

$texto-color: #039dff;
$texto-fuente: 'Roboto', Arial, cursive; 

@mixin flex ($flow) {
    display: flex;
    flex-flow: $flow;
}
