@import "texto";
@import "grilla";
@import "responsive";
@import "variables";

body {
    width: 100%;
    background: #121212;

    a {

        &:active,
        &:link,
        &:visited {
            text-decoration: none;
            color: inherit;
            list-style-type: none;
        }
    }

    header {


        .navegador {
            padding: .3em;
            background: linear-gradient(to bottom, rgba(97, 97, 97, 0), #121212), url(../imagenes/fondo.png);
            background-repeat: no-repeat;
            background-size: cover;

            .container-fluid {
                .navbar-toggler{
                    margin-left: 5em;
                }
            }

            &__lista {
                margin-bottom: 10em;
            }

            &__item {
                padding: 1em;
                color: white;
                font-size: .5em;
                font-family: $titulo-fuente;
            }

            &__link--activo {
                font-weight: bold;
            }
        }

    }

    main {
        .content {
            flex: 1;
        }

        .ultimaNoticia {
            text-align: center;

            .ultimaNoticia__imagen {
                text-align: center;
                justify-content: center;

                img {
                    max-height: 11em;
                }
            }

            .ultimaNoticia__texto {
                padding: .5em;
                font-size: .9em;
                text-align: center;

            }
        }

        .ultimaEntrevista {
            text-align: center;
            justify-content: center;

            .ultimaEntrevista__video {
                max-height: 15em;
                max-width: 20em;
            }

            .ultimaEntrevista__texto {
                margin-bottom: .2em;
                font-size: .9em;
                margin-top: .2em;
                text-align: center;
            }
        }

        .recomendado {
            justify-content: center;
            text-align: center;

            .recomendado__imagen {
                max-height: 11em;
            }

            .recomendado__texto {
                @extend.ultimaNoticia__texto;

                .click {
                    font-weight: bold;
                }
            }
        }

        .noticia {
            text-align: center;

            &__uno {
                &__item__texto {
                    font-size: 1em;
                }

                &__item__imagen {
                    border-radius: 5px;
                    max-width: 90%;

                }
            }

            &__dos {
                &__item__texto {
                    font-size: 1em;
                }

                &__item__imagen {
                    @extend .noticia__uno__item__imagen;
                }
            }

            &__tres {
                &__item__texto {
                    font-size: 1em;
                }

                &__item__imagen {
                    @extend .noticia__uno__item__imagen;
                }

            }

            &__cuatro {
                &__item__texto {
                    font-size: 1em;
                }

                &__item__imagen {
                    @extend .noticia__uno__item__imagen;
                }
            }

        }

        .eventos {
            color: white;
            border: solid 5px blueviolet;
            border-radius: .5em;
            margin: 1em 0 0 0;

            .link:hover {
                font-weight: bold;
                color: #039dff;
            }

            th {
                text-transform: uppercase;
                text-align: center;
                color: white;
            }

            td {
                text-align: center;
                color: white;
            }

        }

        .entrevista {
            &__texto {
                text-align: center;
                margin: .5em;
            }

            .container {
                max-width: 90%;
                margin-bottom: .5em;
                margin: 0 auto;

                .d-block {
                    height: 20em;
                }
            }
        }

        .contacto {
            @include flex (column nowrap);

            padding: .3em;
            margin: 0 .8em 1em 0;

            .contacto__formulario {
                text-align: center;
                border: solid blueviolet;
                border-radius: .5em;

                .contacto__nombre {
                    @include flex (column nowrap);
                    align-items: center;
                    text-align: center;
                    margin: 1em 0 1em 0;
                }

                .contacto__cuadro {
                    text-align: center;
                    justify-content: center;
                    resize: none;
                    border: none;
                    margin: .1em;
                }

                .contacto__check {
                    font-size: .9em;
                    @include flex (row wrap);
                    justify-content: space-around;
                    margin: .3em;
                }

                .contacto__select {
                    @include flex (column nowrap);
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    margin: .3em 0 .3em 0;
                }

                .contacto__boton {
                    @include flex (row nowrap);
                    justify-content: space-around;
                    text-align: center;
                    padding: .3em;
                    border-radius: .1em;
                    border: none;
                    outline: none;

                    .contacto__boton__uno {
                        padding: .5em;
                    }
                }
            }
        }

        #contacto__texto {
            text-align: center;
        }

        .error {
            margin-left: 20%;
        }
    }

    footer {
        .pie {
            @include flex (row nowrap);
            justify-content: space-between;
            align-items: center;
            background: linear-gradient(to bottom, #121212, rgba(170, 170, 170, 0.2));
            padding: .7em;

            .pie__item {
                @include flex (column nowrap);
                align-items: center;
                justify-items: flex-start;

                .pie__texto {
                    @include flex (row nowrap);
                    font-size: 1em;
                }
            }

            .pie__item__dos {
                @include flex (row nowrap);
                column-gap: 1em;

                img {
                    height: 2em;
                }

            }

            .pie__lista {
                display: flex;
                justify-items: flex-end;
                gap: 1em;
                color: white;
                font-size: 0.8em;
                font-family: 'Dela Gothic One', cursive;
                padding: 2em;
            }

        }
    }

}